@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.loading-dots span {
    display: block;
    animation: blink 1s infinite;
}

@keyframes blink {

    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.25;
    }

    100% {
        opacity: 0;
    }
}

/* Apply delays to each character */
.loading span:nth-child(1) {
    animation-delay: 0s;
}

.loading span:nth-child(2) {
    animation-delay: 5s;
}

.loading span:nth-child(3) {
    animation-delay: 10s;
}

.scrollbar-hidden {
    /* Hide scrollbar for Firefox */
    scrollbar-width: none;
    /* Hide scrollbar for Webkit (Chrome, Safari, Edge) */
    -ms-overflow-style: none;

    /* Hide scrollbar for Webkit (Chrome, Safari, Edge) */
    &::-webkit-scrollbar {
        display: none;
    }
}